# Handlebars if block
snippet if
				{{#if ${1: condition}}}
					${2}
				{{/if}}

# Handlebars if else block
snippet ifelse
				{{#if ${1: condition}}}
					${2}
				{{else}}
					${3}
				{{/if}}

# Handlebars else
snippet else
				{{else}}

# Handlebars else if
snippet elseif
				{{else if}}

# Handlebars each block
snippet each
				{{#each ${1: items}}}
					${2}
				{{/each}}
